.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-container
      %p.chat-main__group-info__left-container__title
        = @group.name
      %p.chat-main__group-info__left-container__member
        Member : 
        - @users.each do |user|
          = user.name
    .chat-main__group-info__right-container
      = link_to edit_group_path(@group.id), class: "chat-main__group-info__right-container__edit" do
        Edit
  .chat-main__message-list
    .chat-main__message-list__message-container
      = render @messages
  = form_for [@group, @message], id: "new_message" do |f|
    .chat-main__message-form
      .chat-main__message-form__textarea
        =f.text_field :content, class: "chat-main__message-form__textarea__form", placeholder: "type a message"
        =f.label :image, class: "chat-main__message-form__textarea__image" do
          = icon("fa", "image")
          =f.file_field :image
      =f.submit "Send", class: "chat-main__message-form__send"